<div class="sport-articles-container">
  <h1 class="sport-articles-title">Sport Articles</h1>
  <div *ngFor="let article of sportArticles" class="sport-article-card">
    <img [src]="article.image" alt="{{ article.name }}" class="sport-article-image">
    <div class="sport-article-details">
      <h2 class="sport-article-name">{{ article.name }}</h2>
      <p class="sport-article-description">{{ article.description }}</p>
      <p class="sport-article-price">Price: ${{ article.price }}</p>
    </div>
  </div>
</div>
